html, body {
    height: 100%;
}

#app {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: flex-end;
}

.row {
    width: 100%;
}

tr td {
    cursor: pointer;
}

.modal.open {
    z-index: 1003;
    display: block;
    opacity: 1;
    top: 30%;
    transform: scaleX(1) scaleY(1);
}

.portfolio-row {
    margin-bottom: auto;
}

.table-section {
    position: relative;
}

.table-options {
    position: absolute;
    bottom: 0;
    width: 50%;
}

.filter, .sorting {
    float: left;
    width: 50%;
}

.input-field {
    width: 85%;
    margin-left: 10px;
}

form, form > div {
    padding-left: 0 !important;
}